$signs-colors: (
    "aries": #E63946, 
    "taurus": #4CAF50, 
    "gemini": #FFD700, 
    "cancer": #C0C0C0, 
    "leo": #8B4513, 
    "virgo": #8B4513, 
    "libra": #FF69B4, 
    "scorpio": #000000, 
    "sagittarius": #800080, 
    "capricorn": #708090, 
    "aquarius": #1E90FF, 
    "pisces": #2E8B57
);
$active-bg-color: #1a1a1a;
$dark-bg: #1a1a1a; 
$light-bg: #333; 
$hover-color: #1a1a1a; 
$border-radius: 0; 
$transition-speed: 0.3s; 
$text-color: #1a1a1a; 

.horoscope {
    &__sign {
        font-size: 2rem; 
        margin-block: 1.5rem;
        color: inherit; 
        text-align: center;
    }

    &__title {
        font-size: 1.5rem; 
        font-weight: normal;
        margin-block: 1.5rem;
        color: inherit; 
        text-align: center;
    }

    &__nav {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 1.5rem;
        justify-content: center;

        &-link {
            appearance: none;
            background-color: transparent; 
            border: 2px solid $light-bg; 
            color: inherit; 
            cursor: pointer;
            font-weight: bold;
            padding: 0.75rem 1.5rem;
            border-radius: $border-radius; 
            transition: border-color $transition-speed, color $transition-speed, transform $transition-speed;

            &:hover {
                transform: scale(1.05);
            }

            &--active {
                background-color: $active-bg-color;
                color: #fff;
                transform: scale(1.1);
            }
        }
    }

    &__date {
        font-weight: normal;
        font-size: 1.5rem;
        margin-block: 1rem;
        text-align: center;
        color: inherit; 
    }

    &__days {
        height: 0;
        opacity: 0;
        overflow: hidden;
        visibility: hidden;
        transition: opacity $transition-speed, height $transition-speed;

        &--active {
            height: auto;
            opacity: 1;
            visibility: visible;
            transition: opacity $transition-speed ease-in, height $transition-speed ease-in;
        }
    }
    &__sign {
        $parent: &;
        // loop through the $signs-colors map and create a css class for each sign, and attach color to sign-symbol
        @each $sign, $color in $signs-colors {
            &--#{$sign} {
                #{$parent}-symbol {
                    color: $color;
                    text-shadow:
                    1px 1px 0 #000,
                    -1px 1px 0 #000,
                    -1px -1px 0 #000,
                    1px -1px 0 #000;
                }
            }
        }
    }
}
